<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <form method="post" action="">
        Enter your first name: <input type="text" name="firstname"/><br>
        Enter your last name: <input type="text" name="lastname"/><br>
        Enter your login: <input type="text" name="login"/><br>
        Enter your password: <input type="password" name="password"/><br>
        <input type="submit" value="Register"/>

    </form>
</body>
</html>